{% extends "base.html" %}

<body>
  {% block content %}
  <section>
    <div class="section-content">
      <h1>{{ section.title }}</h1>
      <div>
        {{ section.content | safe }}
      </div>
      <div class="content">
        {% for page in section.pages %}
        <article class="article">
          <header>
            <div class="article">{{ page.title }}</div>
          </header>
          <div class="article-content">
            {{ page.content | safe }}
            <a href="{{ page.permalink | safe }}" class="button">&rightarrow; více</a>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endblock content %}
</body>